@import url("https://fonts.googleapis.com/css?family=Karla");

body {
	font-family: "Karla", sans-serif;
	max-width: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: auto 1fr auto; /* header and footer auto height, faq expands remaining space */
	min-height: 100vh; /* minimum stretch across entire viewport height */
}

/* FAQ accordion */
.accordion {
	background-color: white;
	width: 100%; /* take up full width of faq parent */
	padding: 0; /* reset padding */
}
/* question and answer */
.accordion li {
	background-color: white;
	list-style: none;
	max-width: 100%;
	margin: 20px 0px; /* put spacing between each q */
	border-bottom: solid;
	border-bottom-color: #c22c5d;
	text-wrap: wrap;
}
/* question */
.accordion li label {
	background-color: #fff0f5;
	display: flex;
	align-items: center; /* align items in the center vertically */
	justify-content: space-between; /* push carrot to right */
	max-width: 100%;
	padding: 15px;
	cursor: pointer;
	border-radius: 8px;
	gap: 12px;
}
/* rotate the carrot in the question */
.accordion li label .carrot {
	transform: rotate(90deg);
	transition: transform 0.3s;
	transform-origin: center center; /* Rotates around its center */
	display: inline-block;
}
/* rotate the carrot when checked */
.accordion li input[type="checkbox"]:checked + label .carrot {
	transform: rotate(0.75turn);
	transform-origin: center center;
}
/* hidden answer content */
.accordion .content {
	background-color: white;
	padding: 0 20px; /* add 20px to L/R */
	line-height: 26px;
	/* hide answer when unclicked */
	max-height: 0; /* start content collapsed */
	overflow: hidden;
	transition: max-height 0.5s;
}
/* expanded answer content */
.accordion input[type="checkbox"]:checked + label + .content {
	max-height: 400px;
	padding: 0px 20px;
}

/* logo styling */
.logo {
	display: flex;
	justify-content: space-between;
	align-items: center; /* align centered vertically */
	max-width: max-content; /* Shrinks to fit content width */
	gap: 24px; /* add 12px gap btwn elts L/R */
	background-color: #ffe1eb;
}
.logo-img {
	width: 115px;
	height: 115px;
}
.logo-text {
	font-family: Tahoma;
	font-size: 40px;
	letter-spacing: 8px;
	color: #c22c5d;
}

/* navbar styles */

.topnav {
	background-color: #ffe1eb;
	display: flex;
	align-items: end;
	max-width: 100%;
}

.topnav nav {
	display: flex;
	justify-content: space-between;
	/* width: max-content; Shrinks to fit content width */
	gap: 12px; /* add 12px gap btwn elts */
}

/* rotate the carrots in navbar */
.topnav nav a .carrot {
	transform: rotate(90deg);
	transform-origin: center center;
}

.topnav a {
	padding: 16px 24px; /* padding around each link text */
	background-color: #ffe1eb;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 24px;
}

.topnav a:hover {
	background-color: #fff0f5;
}

.nav-icon img {
	height: 30px;
}

.header {
	background-color: #ffe1eb;
	display: flex;
	justify-content: space-between; /* pin logo left, navbar tabs right */
	padding: 1% 2%; /* 1 top/bottom, 2 L/R */
	gap: 12px; /* gap btwn logo and navbar */
	/* NOTE: don't use width: 100% with padding, it'll extend past page */
	max-width: 100%;
	border-bottom: solid;
	border-bottom-color: #c22c5d;
}

.mobile-nav {
	display: none;
}

/* text styles */
/* navbar tab text style = heading */
a:link,
a:visited,
.heading {
	text-decoration: none;
	color: #c22c5d;
}
.heading {
	font-weight: bold;
	font-size: 36px;
	color: #c22c5d;
}
.subheading {
	font-weight: bold;
	font-size: 24px;
	color: #c22c5d;
}
/* normal text style */
p {
	font-size: 18px;
}

.footer {
	background-color: #ffe1eb;
	max-width: 100%;
}

.footer nav {
	display: flex;
	justify-content: space-around;
	padding: 1% 0%; /* 1 top/bottom, 0 L/R as it uses space-between */
}

.faq {
	background-color: white;
	height: 100%; /* take up full height of faqContainer parent */
	overflow-y: auto; /* scrolling */
	display: flex;
	flex-direction: column;
	align-items: center; /* center on the horizontal axis */
	padding: 24px 8%;
	gap: 12px;
}

.faqSection {
	text-align: left;
	max-width: 100%; /* take up full width of faq parent */
}

/* tablet styles */
@media only screen and (min-width: 635px) and (max-width: 1182px) {
	.header {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.heading {
		font-size: 24px;
	}
	.subheading {
		font-size: 18px;
	}
}

/* mobile styles */
@media only screen and (max-width: 635px) {
	body {
		display: flex;
		flex-direction: column; /* display nav and faq as cols */
		max-width: 100%;
		overflow-x: hidden; /* prevent sideways scroll */
	}

	/* display the expandable nav instead */
	.nonmobile-nav {
		display: none;
	}
	.topnav {
		align-items: center;
	}
	.mobile-nav {
		display: flex;
	}
	.mobile-nav nav {
		display: flex;
		flex-direction: column; /* Stack items vertically */
	}
	.nav-icon img {
		height: 20px;
	}
	/* less padding around icon button */
	.topnav a {
		padding: 8px 12px; /* padding around each link text */
	}

	.footer {
		visibility: hidden;
	}

	/* resize logo */
	.logo-img {
		width: 85px;
		height: 85px;
	}
	.logo-text {
		font-size: 28px;
		letter-spacing: 4px;
	}

	.heading {
		font-size: 24px;
	}
	.subheading {
		font-size: 18px;
	}
}
